@value values: '@/css/variables.module.css';
@value colorSecondary, padding, border, radius, shadow from values;

.drop-zone {
  width: 500px;
  min-height: 100px;
  padding: calc(padding * 4);

  display: flex;
  align-items: center;
  justify-content: center;

  border: border;
  border-radius: calc(radius * 2);

  cursor: pointer;

  color: rgb(32, 32, 32);
  font-size: 1.5em;
  font-weight: bold;

  box-shadow: shadow;
}

.drop-zone:hover {
  color: black;
}

.drop {
  outline: 2px dashed colorSecondary;
  outline-offset: -20px;
}

.warning {
  outline: 2px dashed red;
  outline-offset: -20px;
}

.top-element {
  width: 70%;
  text-align: center;
  user-select: none;
}
