@value values: '@/css/variables.module.css';
@value colorSecondary, padding, border, radius, shadow from values;

.image-item {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: calc(radius * 2);
  box-shadow: shadow;
}

.btn-delete {
  position: absolute;
  top: calc(0px - padding);
  right: calc(0px - padding);

  width: 26px;
  padding: calc(padding / 2);

  border: 1px solid black;
  border-radius: 50%;

  opacity: 0;
  cursor: pointer;
  background-color: white;
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.image-item:hover .btn-delete {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
